
.sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #f4f4f4;
    transition: transform 0.3s ease-in-out;
}


.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
}

.sidebar ul li a.active {
    background-color: #007bff;
    color: white;
}


.main-content {
    margin-left: 250px; 
    transition: margin-left 0.3s ease-in-out; 
}

.content {
    padding: 20px;
    transition: padding-left 0.3s ease-in-out; 
}


@media (max-width: 576px) {
    .sidebar {
        transform: translateX(-250px); 
    }

    .main-content {
        margin-left: 0; 
    }

    .content {
        padding-left: 0; 
    }

   
    .sidebar-toggle {
        display: block;
        background-color: #007bff;
        color: white;
        padding: 10px;
        border: none;
        position: absolute;
        top: 10px;
        left: 10px;
        cursor: pointer;
    }
}
