
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="assets/images/logoo.png" alt="UST Logo" class="logo"  style="left: 0%; width: 130px; height: auto;"/>
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" (click)="toggleSidebar()" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">
          <i class="fas fa-sign-out-alt"></i> Logout
        </a>
      </li>
    </ul> -->

    <ul class="navbar-nav ms-auto">
      
      <li class="nav-item dropdown" (click)="toggleDropdownn($event)">
        <a class="nav-link dropdown-toggle d-flex align-items-center"
           id="navbarDropdownMenuLink"
           aria-expanded="false">
          <img src="/assets/images/profile.png"
               class="rounded-circle profile-icon"
               height="40"
               alt="Profile Icon"
               loading="lazy"/>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" [ngClass]="{'show': dropdownOpen}">
          <li>
            <a class="dropdown-item" (click)="logout()">
              <i class="fas fa-sign-out-alt me-2"></i>Logout</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>


<nav class="sidebar" [class.show]="isSidebarOpen">
  <div class="logo-details">
    <i class="fas fa-tools"></i>
    <span class="logo_name">Maintainer Portal</span>
  </div>

  <ul class="nav-links">
    
    <li>
      <a routerLink="maintainer-dashboard" routerLinkActive="active">
        <i class="fas fa-home"></i>
        <span class="link_name">Dashboard</span>
      </a>
    </li>

    
    <li [class.showMenu]="isStudentsOpen">
      <div class="icon-link" (click)="toggleDropdown('students')">
        <a>
          <i class="fas fa-user-graduate"></i>
          <span class="link_name">Students</span>
        </a>
        <i class="fas fa-chevron-down arrow"></i>
      </div>
      <ul class="sub-menu">
        <li>
          <a routerLink="maintainer-post-marks" routerLinkActive="active">
            <i class="fas fa-edit"></i>Post Marks
          </a>
        </li>
        <li>
          <a routerLink="maintainer-view-marks" routerLinkActive="active">
            <i class="fas fa-chart-bar"></i>View Marks
          </a>
        </li>
        <li>
          <a routerLink="maintainer-view-students" routerLinkActive="active">
            <i class="fas fa-users"></i>View Students
          </a>
        </li>
        <li>
          <a routerLink="maintainer-student-register" routerLinkActive="active">
            <i class="fas fa-user-plus"></i>Register Student
          </a>
        </li>
        <li>
          <a routerLink="maintainer-register-excel-students" routerLinkActive="active">
            <i class="fas fa-file-upload"></i>Register Excel Students
          </a>
        </li>


        <li>
          <a routerLink="maintainer-assign-nullroom-students" routerLinkActive="active">
            <i class="fas fa-file-upload"></i>Assign Null Room Students
          </a>
        </li>


        <li>
          <a routerLink="maintainer-get-done-students" routerLinkActive="active">
            <i class="fas fa-file-upload"></i>Completed Students
          </a>
        </li>

        <li>
          <a routerLink="maintainer-make-room-done" routerLinkActive="active">
            <i class="fas fa-file-upload"></i>Complete TrainingRoom
          </a>
        </li>
        

        <li>
          <a routerLink="maintainer-view-attendence" routerLinkActive="active">
            <i class="fas fa-calendar-check"></i>View Attendance
          </a>
        </li>
      </ul>
    </li>

    
    <li [class.showMenu]="isTrainersOpen">
      <div class="icon-link" (click)="toggleDropdown('trainers')">
        <a>
          <i class="fas fa-chalkboard-teacher"></i>
          <span class="link_name">Trainers</span>
        </a>
        <i class="fas fa-chevron-down arrow"></i>
      </div>
      <ul class="sub-menu">
       
        <li>
          <a routerLink="maintainer-register-trainer" routerLinkActive="active">
            <i class="fas fa-user-plus"></i>Register Trainer
          </a>
        </li>
        <li>
          <a routerLink="maintainer-get-all-trainers" routerLinkActive="active">
            <i class="fas fa-users-cog"></i>View Trainers
          </a>
        </li>
        <li>
            <a routerLink="maintainer-assign-room" routerLinkActive="active">
              <i class="fas fa-user-plus"></i>Assign Training Room
            </a>
          </li>

          <li>
            <a routerLink="maintainer-post-pdf" routerLinkActive="active">
              <i class="fas fa-file-upload"></i>Upload PDF
            </a>
          </li>
      </ul>
    </li>

    
    <li [class.showMenu]="isManagersOpen">
      <div class="icon-link" (click)="toggleDropdown('managers')">
        <a>
          <i class="fas fa-user-tie"></i>
          <span class="link_name">Managers</span>
        </a>
        <i class="fas fa-chevron-down arrow"></i>
      </div>
      <ul class="sub-menu">
        <li>
          <a routerLink="maintainer-get-managers" routerLinkActive="active">
            <i class="fas fa-users"></i>View Managers
          </a>
        </li>
        <li>
          <a routerLink="maintainer-access-requests" routerLinkActive="active">
            <i class="fas fa-key"></i>Access Requests
          </a>
        </li>
      </ul>
    </li>

    <li>
        <a routerLink="maintainer-create-attendence" routerLinkActive="active">
          <i class="fas fa-calendar"></i>
          <span class="link_name">Create New Attendence</span>
        </a>
      </li>
    
  </ul>
</nav>