
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="assets/images/logoo.png" alt="UST Logo" class="logo"  style="left: 0%; width: 130px; height: auto;"/>
    <div class="container-fluid">
      
      <button class="navbar-toggler" type="button" (click)="toggleSidebar()" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown" (click)="toggleDropdown($event)">
          <a
            class="nav-link dropdown-toggle d-flex align-items-center"
            id="navbarDropdownMenuLink"
            aria-expanded="false"
          >
            <img
              src="/assets/images/profile.png"
              class="rounded-circle profile-icon"
              height="40"
              alt="Profile Icon"
              loading="lazy"
            />
          </a>
          <ul class="dropdown-menu san" aria-labelledby="navbarDropdownMenuLink" [ngClass]="{'show': dropdownOpen}">
            <li>
              <a class="dropdown-item san" (click)="Logout()"><i class="fas fa-sign-out-alt me-2"></i>Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  
  
  <nav 
    id="sidebarMenu" 
    class="collapse d-lg-block sidebar bg-white"
    [class.show]="isSidebarOpen"
  >
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
        
        <a 
        routerLink="manager-viewdetails" 
        routerLinkActive="active" 
        class="list-group-item list-group-item-action py-2 ripple" 
        aria-current="true"
      >
        <i class="fas fa-tachometer-alt fa-fw me-3"></i>
        <span>My Details</span>
      </a>
  
      <a 
        routerLink="manager-addrequests" 
        routerLinkActive="active" 
        class="list-group-item list-group-item-action py-2 ripple"
      >
        <i class="fas fa-plus fa-fw me-3"></i>
        <span>Add New Requests</span>
      </a>
  
      
      <a 
        routerLink="manager-viewrequests" 
        routerLinkActive="active" 
        class="list-group-item list-group-item-action py-2 ripple"
      >
        <i class="fas fa-users fa-fw me-3"></i>
        <span>View All Requests</span>
      </a>
  

      </div>
    </div>
  </nav>
  <div style="margin-bottom: 7%;"></div>
  

  